# Capstone Project Notebook

## IBM Data Science - Coursera

In [2]:
import pandas as pd
import numpy as np

In [3]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [99]:
# I start by reading the table to the data frame "df"
df = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", header = 0)[0]
df.head(10)

  Postal Code           Borough                                Neighbourhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

In [100]:
# I remove the rows where the borought is Not assigned
df.drop(df[df.Borough == "Not assigned"].index, inplace=True)
df.reset_index(drop=True, inplace=True)

In [101]:
# I look for duplicates in the postal code column
duplicate = df["Postal Code"].duplicated(keep=False)
duplicate.describe()

count       103
unique        1
top       False
freq        103
Name: Postal Code, dtype: object

So there are apparently no 2 rows with the same postal code.

In [102]:
# I assign the borough name to the neighbourhoods which are Not assigned
for i in range(0,len(df.Neighbourhood)):
               if (df.Neighbourhood[i] == "Not assigned"):
                    df.Neighbourhood[i] = df.Borough[i]

In [103]:
# I show the dimension of the resulting dataframe
df.shape

(103, 3)